name: GLuaFixer

on:
  pull_request:
    files:
      - 'lua/**'

jobs:
  Lint:
    uses: FPtje/GLuaFixer/.github/workflows/glualint.yml@master
    with:
      config: "https://raw.githubusercontent.com/StrawWagen/termhunter/refs/heads/main/.glualint.json"
